/* ------my-theme----- */
.dark-theme {
  background-color: #323232;
  /* color: #fff; */
}

.dark-theme p,
.dark-theme li {
  color: #ffffff;
}

.dark-theme h2,
.dark-theme h1,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5 {
  color: #ffffff;
}

.dark-theme header {
  background-color: rgb(184, 184, 184);
}

.dark-theme .project-details {
  background-color: #244247;
}

.dark-theme section {
  background-color: #0b1618;
}

.dark-theme .my-skill {
  background-color: #244247;
}


#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  /* text-align: center; */
}



.header-row {
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul>li>.active {
  /* color: red; */
  color: var(--primaryColor);
  border-bottom: 3px solid var(--primaryColor);
}

a {
  text-decoration: none !important;
  color: rgb(39, 39, 39);
}

.social-icons {
  display: flex;
}

.social-icons>a {
  gap: 20px;
  padding-right: 15px;
  display: grid;
  padding: 5px;
  border: 2px solid #01917c;
  place-items: center;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: #444;
  background-color: var(--bright);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

.project-style {
  box-shadow: 3px 6px 16px #6767678f;

}

.project-style {
  max-height: 1000px;
  overflow: hidden;
}

.project-style>img {
  max-width: 100%;
  height: auto;
}


/* --------footer-css---------- */
.wave-head {
  position: relative;
  text-align: center;
  background: #ffffff00;
  color: #ffffff00;
}

.waves {
  position: relative;
  width: 100%;
  height: 8vh;
  margin-top: -25px;
  transform: rotate(180deg);
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes gradient-home {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.parent {
  background: linear-gradient(135deg, #00d89f, #00d4bb, #075bd8, #00e3d0, #dc01ec, #03e9bb);
  /* background: linear-gradient(135deg, #0038c7, #ee8f45, #0038c7, #ee8f45, #ef5454, #f80000); */
  background-size: 400% 400%;
  animation: gradient-home 14s ease infinite;
}

/* ----------hero-section-image-animation------------ */
.hero-section {
  position: relative;
}

.hero-section .main-banner-image {
  position: relative;
  top: 0px;
}

.hero-section .main-banner-image img {
  -webkit-animation: border-transform-default 15s linear infinite alternate forwards;
  animation: border-transform-default 15s linear infinite alternate forwards;
  /* border-radius: 30px; */
  background-color: #c9f8ef;
}


@keyframes border-transform-default {

  0%,
  to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%
  }

  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%
  }

  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%
  }

  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%
  }

  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%
  }

  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%
  }

  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%
  }
}

@-webkit-keyframes border-transform-default {

  0%,
  to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%
  }

  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%
  }

  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%
  }

  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%
  }

  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%
  }

  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%
  }

  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%
  }
}



.project-style>img {
  transition: all .8s;
}

.project-style {
  position: relative;
}

.project-style:before {
  position: absolute;
  content: "";
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  background: #000000ba;
  opacity: 1;
  transition: 0.3s;
  z-index: 9;
}

.project-style:hover::before {
  opacity: 0;
}

.project-style:hover>img {
  scale: 1.1;
}

.dp-imgae {
  max-width: 214px;
  border: 6px solid #0d9488;
  padding: 8px;
  border-radius: 100%;
  display: grid;
  place-items: center;
}

.dp-imgae>img {
  border-radius: 50%;
}

.heading-line {
  position: relative;
}

.heading-line:before {
  position: absolute;
  content: "";
  left: 0;
  width: 60px;
  background-color: #01b89b;
  height: 3px;
  bottom: -5px;

}

.use-tech>div {
  padding: 8px;
  box-shadow: #f600a12e 3px 4px 10px;
  background-color: rgb(255 255 255);
  font-size: 14px;
  color: #f600a1;
}

.sourceLinks>div>a {
  color: #00a690;
  border-bottom: 1px solid;
}

/* =========project-css========= */

.project:first-child {
  margin-top: 0;
}

.project:last-child {
  margin-bottom: 0;
}

.project {
  margin: 4rem auto;
  display: grid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project-img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.project-details {
  background: #ffffff;
  position: relative;
}

.project-info {
  padding: 0 1.2rem;
  text-align: center;
}

.project-title {
  text-align: center;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.project-text-toggle {
  border: none;
  background: transparent;
  color: black;
  letter-spacing: 1px;
}

.project-text {
  margin: 0 auto;
  display: none;
}

.project-text.show-project-text {
  display: block;
}

.project-tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.75rem auto;
  text-transform: capitalize;
  gap: 0.75rem;
}

.project-tools span {
  background: rgb(225, 225, 225);
  color: #000;
  padding: 0.2rem 0.35rem;
  border-radius: 4px;
}

.project-footer {
  margin-top: 1.25rem;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.2rem;
  background: var(--clr-font-2);
  width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.project-footer a:first-child {
  order: 2;
  text-decoration: underline;
}

.project-footer a:last-child {
  order: 1;
}

.project-footer a {
  color: var(--clr-body-bcg);
  transition: var(--transition);
  align-items: center;
}

.project-footer .fa {
  font-size: 1.25rem;
  margin-right: 0.25rem;
  vertical-align: text-top;
}

.project-footer a:hover {
  color: var(--clr-primary);
}

.project-details {
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 1;
  grid-row: 1 / 1;
  padding: 2rem 1.5rem;
}

.project {
  position: relative;
  z-index: 0;
}

.hide {
  position: relative;
  z-index: -1;
  /* display: none!important; */
}

.behind-front-btn {
  display: none;
}

.ui-porject-card {
  max-height: 400px;
  overflow: hidden;
}

.ui-porject-card:hover img {
  animation: moveSlideshow 3s linear;
  animation-fill-mode: forwards;
}

@keyframes moveSlideshow {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-100% + 200px));
  }

}

@media screen and (min-width:768px) {

  .project-details {

    grid-column: 6 / -1;
    grid-row: 1 / 1;

  }

  .project-img {
    grid-column: 1 / span 8;
    grid-row: 1 / 1;
    border-radius: 17px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    /* max-height: 485px; */
    overflow: hidden;
    /* padding: 10px; */
  }
}

@media screen and (min-width: 768px) {
  .project {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    box-shadow: none;
    margin: 6rem auto;
  }

  .project-image {
    height: 32rem;
    width: 4rem;
    object-fit: cover;
  }

  .project-img::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    /* right: 40px; */
    border-radius: 17px;
    bottom: 20px;
    width: 95%;
    /* height: 100%; */
    background: linear-gradient(to bottom left,
        rgba(0, 128, 55, 0.5),
        rgba(0, 0, 0, 0.5));
    transition: all .5s;
  }

  .ui-porject-card {
    position: relative;

  }

  .ui-porject-card>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 17px; */
  }

  .ui-porject-card::after {
    /* transition: linear .5s; */
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #00000094;

  }

  .ui-porject-card:hover::after {
    display: none;
    /* transition: all .5s; */
  }

  .project:nth-of-type(even) .project-img::after {
    background: linear-gradient(to bottom right,
        rgba(0, 128, 55, 0.5),
        rgba(0, 0, 0, 0.5));
  }

  .project-img:hover::after {
    display: none;
  }



  .project:nth-of-type(even) .project-img {
    grid-column: 5 / -1;
    grid-row: 1 / 1;
  }

  .project:nth-of-type(even) .project-details {
    grid-column: 1 / span 7;
    grid-row: 1 / 1;
    text-align: left;
  }

  .behind-front-btn {
    display: block;
  }

  .project:nth-of-type(odd) .project-details .behind-front-btn {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
  }

  .project:nth-of-type(even) .project-details .behind-front-btn {

    padding-bottom: 15px;
  }

  .project-title {
    text-align: left;
  }

  .project-info {
    text-align: left;
  }

  .project-text-toggle {
    display: none;
  }

  .project-text {
    display: block;
    margin: 1rem 0;
  }

  .project-tools {
    margin: 0;
    justify-content: left;
  }

  .project-footer {
    border-radius: 0;
    background: transparent;
    display: block;
    margin-top: 1rem;
  }

  .project-footer:first-child {
    order: 1;
  }

  .project-footer:last-child {
    order: 2;
  }

  .project-footer a {
    color: var(--clr-font-2);
    margin-right: 1.5rem;
  }
}

.btn-container {
  margin: 3rem auto 0;
  max-width: var(--max-width);
  text-align: center;
  padding: 0 1rem;
}

/* .project-img:hover .project-details{
  display: none;
  opacity: .2;
} */
@media screen and (max-width:767px) {
  .project-img>img {
    margin-top: 2rem;
  }
}
