@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto&family=Source+Sans+Pro:ital@1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff-primary: 'Roboto', sans-serif;
}

/* html {
  scroll-behavior: auto;
} */

body {
  font-family: var(--ff-primary);
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
